body {background-color : #ededed; font-family : "Open Sans", sans-serif;}

h1 {padding: 40px; text-align: center; font-size: 1.5em;}

li a {text-decoration : none; color : #2d2f31;}


nav {
  width : 700px; 
  background: #d9d9d9;
  margin : 40px auto; 
  margin-left: 5rem;
  float: left;
  position:relative ;
  
}


span {
  padding : 30px;
  background : #3e8183; 
  color : white;
  font-size : 1.2em;
  font-variant : small-caps;
  cursor : pointer;
  display: block;
  text-align: center;
}
span:hover{
    background : #737373;   
    color : white;
}

span::after {
  float: right;
  right: 10%;
  content: "تعيين معلم";
}




.theTab:hover 
{
    background :#7dc5c7;   

}    
.deleteClass{
  margin-top: 5%;
  background : #a4a2a2; 
}

.loader {
  position: absolute;
  left: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #6ce5e8;
  border-right: 16px solid #6ce5e8;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
.titleLoaderClash{
  margin-top: 10%;
  
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}