@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");
body {
  
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background: #fff;
  font-family: "Sansita Swashed", cursive;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.center {
  margin-left: 30%;
  position: relative;
  padding: 50px 50px;
  background: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 50%;
 margin-top: 3%;
}
.center h1 {
  font-size: 2em;

  padding: 10px;
  color: #000;

  margin-bottom: 60px;
  font-weight: bold;
  padding-left: 10px;
  text-align: right;
}
.sideLogo{
  float:inline-end;
  float: right;
  margin-top: 15px;
  margin-left: 1%;
}
.center h4 {
  font-size: 0.76em;
  
  padding: 10px;
  color: #000;
  letter-spacing: 1px;
  margin-bottom: 60px;
  font-weight: bold;
  padding-left: 10px;
  text-align: right;
}
.center .inputbox {
  position: relative;
  width: 300px;
  height: 50px;
  margin-bottom: 50px;
  padding-left: 10%;
  margin-left: 40%;

  
}
.inputbox select {
  position: relative;
  width: 150px;
  height: 50px;
  margin-bottom: 50px;
  padding-left: 10px;
  text-align: right;
}
.center .inputbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #000;
  outline: none;
  background: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
  text-align: right;
}
.center .inputbox:last-child {
  margin-bottom: 0;
}
.center .inputbox span {
  position: absolute;
  top: 14px;
  right: 20px;
  font-size: 1em;
  transition: 0.6s;
  font-family: sans-serif;
  
}
.center .inputbox input:focus ~ span,
.center .inputbox input:valid ~ span {
  transform: translateX(-13px) translateY(-35px);
  font-size: 1em;
  
}
.center .inputbox [type="button"] {
  width: 50%;
  background: #ccc;
  color: #fff;
  border: #fff;
  text-align: center;
}
.center .inputbox:hover [type="button"] {
  background: linear-gradient(45deg, rgb(198, 218, 253), #ccc);
}


/* Add some hover effects to buttons */
.center .btn:hover, .open-button:hover {
  opacity: 1;
}


/* Set a style for the submit/login button */
.center .btn {
  border-radius: 10px;
  background-color: #4ebfc1;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.alink {
  text-decoration: none;
  color:cadetblue;
  margin-left: 70%;
}
a:hover {
  border-bottom: 1px solid;
  color:darkcyan;
}
.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
  background: linear-gradient(45deg, #4ebfc1 0%, #75a79b 100%);		
	top: -20px;
	left: 100px;	
	border-radius: 72px 72px 72px 72px;
  z-index: 0 ;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: cadetblue;	
	top: -150px;
	left: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	top: 20px;
  background: linear-gradient(45deg,#dfdade  0%, #abb0b3 100%);		

z-index: -2;
	left: -20;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
  background: linear-gradient(45deg,#b9bebd  25%, #4bcacf 100%);		
	top: 500px;
	left: 50px;	
	border-radius: 60px;
}
.screen__background__shape5 {
	height: 540px;
	width: 190px;
	top: 25%;
  background: linear-gradient(45deg,#dfdade  0%, #e7e8ea 100%);		
z-index: -2;
	left: 0;	
	border-radius: 32px;
}

@media(max-width: 992px){
	.screen__background__shape1 {

    z-index: -2 ;
  }
	.center .inputbox {
    position: relative;
    width: 300px;
    height: 50px;
    margin-bottom: 50px;
    padding-left: 3%;
    margin-left: 4%;
  
    
  }
  .screen__background__shape4 {
   z-index: -1;
  }
  .center{
    margin-left: 0%;
  }
}
form i {
  
  margin-left: -40px;
  
  cursor: pointer;
}

.loader {
  position: absolute;
  left: 50%;
  top:5em;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #6ce5e8;
  border-right: 16px solid #6ce5e8;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  visibility: hidden;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

